{% extends 'base.html' %}

{% block body %}

<div id="content">
<div class="header">
	<img src="static/logo.png">
	<h1>Computer Vision Comparison Application</h1>
</div>
<div>
    <p>Welcome to the Ryerson Computer Vision Comparison Application. To begin, select your input images, check off which descriptors and detectors you would like, then click "Run"! If using the stitching function, ensure that the left image is selected first (for Image 1) and the right image second.</p>
    <form method="post" action="/results" enctype="multipart/form-data">
      <table id="selector">
      	<tr>
          <td><h3>Operation</h3></td>
        </tr>
        <tr>
      	  <td><input type="radio" id="matching-select" onclick="ValidateInput();" name="operation" value="matching"> Matching</td>
          <td><input type="radio" id="stitching-select" onclick="ValidateInput();" name="operation" value="stitching"> Stitching</td>
        </tr>
        <tr>
          <td><h3>Detectors</h3></td>
          <td><h3>Descriptors</h3></td>
        </tr>
        <tr>
          <td><input type="checkbox" onclick="ValidateInput();" name="detector-surf" value="SURF-Detector"> SURF</td>
          <td><input type="checkbox" onclick="ValidateInput();" id="descriptor-sift" name="descriptor-sift" value="SIFT-Descriptor"> SIFT</td>
        </tr>
        <tr>
          <td><input type="checkbox" onclick="ValidateInput();" name="detector-sift" value="SIFT-Detector"> SIFT</td>
        </tr>
        <tr>
          <td><input type="checkbox" onclick="ValidateInput();" name="detector-fast" value="FAST-Detector"> FAST</td>
        </tr>
        <tr>
          <td><input type="checkbox" onclick="ValidateInput();" name="detector-orb" value="ORB-Detector"> ORB</td>
        </tr>
        <tr>
          <td><input type="checkbox" onclick="ValidateInput();" name="detector-harris" value="Harris-Detector"> HARRIS</td>
        </tr>
        <tr>
          <td><input type="checkbox" onclick="ValidateInput();" name="detector-sck" value="SCK-Detector"> SCK</td>
        </tr>
        <tr>
          <td><h3>Orientation</h3></td>
          <td><h3>Assignment</h3></td>
        </tr>
        <tr>
          <td><input type="radio" id="sift-orientation" onclick="ValidateInput();" name="orientation" value="default"> SIFT</td>
          <td><input type="radio" id="downward-orientation" onclick="ValidateInput();" name="orientation" value="downward"> Downward</td>
        </tr>
        <tr>
          <td colspan="2"><h3>Number of Keypoints</h3></td>
        </tr>
        <tr>
          <td colspan="2">Minimum 500 needed</td>
        </tr>
        <tr>
          <td><input type="text" id="num-keypoints" oninput="ValidateInput();" style="width: 100px;" name="num-keypoints"></td>
        </tr>
        <tr>
          <td><h3>Run!</h3></td>
        </tr>
        <tr>
          <td><input value="Run" disabled id="submit" type="submit"></td>
        </tr>
      </table>
      <div id="image-results">
        <table>
          <tr>
            <td><h3>Input Image 1</h3></td>
            <td><h3>Input Image 2</h3></td>
          </tr>
          <tr>
            <td><input accept="image/*" onchange="ValidateInput();" class="file-selectors" id="image-l" type="file" name="image-l"></td>
            <td><input accept="image/*" onchange="ValidateInput();" class="file-selectors" id="image-r" type="file" name="image-r"></td>
          </tr>
          <tr>
            <td><h3>Matching Image Result</h3></td>
        </tr>
        <tr>
            <td><h3>Stitching Image Result</h3></td>
          </tr>
        </table>
      </div>
    </form>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div>
      &copy; 2019, Ryerson University, Multimedia Research Lab
    </div>
  </div>
</div>

{% endblock %}
